---
layout: default
title: Categories
permalink: /categories/
---

<h2>Categories</h2>

<select title="sort" onchange="sortMuuriGrid(event)">
	<option value="byName">By Name</option>
	<option value="byCount">By Count</option>
</select>

<div class="grid">
	{% for category in site.categories %}
	<div class="item post-category">
		<div class="item-content">
			<a href="/categories/#{{ category[0] }}" class="post-category"> {{ category[0] }} <sup>{{ category[1].size }}</sup></a>
		</div>
	</div>
	{% endfor %}
</div>

{% for category in site.categories %}
	<h3 class="category-list" id="{{ category[0] }}">{{ category[0] }}</h3>
	<ul class="article-list">
	{% for post in category[1] %}
		<a href="{{ post.url }}">
			<li>
				{{ post.title }}
				<small>{{ post.date | date_to_string }}</small>
			</li>
		</a>
	{% endfor %}
	</ul>
{% endfor %}
