---
layout: default
title: Gaming, Sleeping, Coding
---

{% for post in paginator.posts %}

	<article class="post">
        <h1 class="post-title">{{ post.title }}</h1>
		<span class="paginator-date">{{ post.date | date: "%B %d, %Y" }}</span> |
		<a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}" class="paginator-comment">Comment</a>
		{% if post.content contains site.excerpt_separator %}
			<div class="post-content">{{ post.excerpt }}</div>
			<div class="post-more">
				<a href="{{ post.url }}">Read more</a>
			</div>
		{% else %}
			<div class="post-content">{{ post.content }}</div>
		{% endif %}

	</article>

{% endfor %}


{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">First</span>
		{% endif %}
		<span class="sep">|</span>
		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		<span class="sep">|</span>
		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Last</span>
		{% endif %}

	</div>
{% endif %}

<div class="site-stats">
	Site Visit: <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span> times
</div>