html {
    font-size: 20px;
}

body {
    font-family: "Avenir Next", Helvetica, arial, "Microsoft YaHei", 宋体, sans-serif;
    font-size: 1rem;
    color: #333;
    margin: 0;
    background-image: url("/assets/images/main_background.jpg");
    background-repeat: round;
}

nav {
    font-size: 1.2rem;
    /*background-image: linear-gradient(to bottom right, #5766a7, white);*/
}

div[class="container"] {
    margin: auto;
    width: 65%;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0 .5rem 0 #737660;
}

nav > ul, footer > ul {
    margin: auto;
    width: 65%;
    padding: 20px;
    list-style: none;
    font-weight: bold;
}

nav > ul > li, footer > ul > li {
    display: inline;
    margin-right: 20px;
}

nav > ul > li > a {
    color: #103355;
}

a {
    text-decoration: none;
    color: #c7338e;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.05rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    border-bottom: darkgray 3px double;
}

h2 {
    font-size: 1.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: gainsboro 1px solid;
}

h3 {
    font-size: 1.55rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

h4 {
    font-size: 1.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

h5 {
    font-size: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

h6 {
    font-size: 1.15rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}

p {
    line-height: 1.8rem;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8rem;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts > li {
    list-style: none;
}

ul > li {
    margin-top: .4em;
    margin-bottom: .4em;
}

/* For post title */
h1[class="post-title"] {
    margin: 0 0 4px 0;
    border-bottom: None;
    color: #103355;
    font-family: 'Bree Serif', serif, "Avenir Next", Helvetica, arial, "Microsoft YaHei", 宋体, sans-serif;
}

h1[class="post-title"]:before {
    content: "\f10d";
    font-family: FontAwesome;
    padding-right: .3rem;
    color: #1e0010;
    font-size: 90%;
}

h1[class="post-title"]:after {
    content: "\f10e";
    font-family: FontAwesome;
    padding-left: .3rem;
    color: #1e0010;
    font-size: 90%;
}

/* For 脚注 */
div[class="footnotes"] {
    font-size: .8rem;
}

/* For blockquote */
blockquote {
    margin-left: 5px;
    border-left: #29c79a 5px solid;
    padding-left: 5px;
    color: darkolivegreen;
}

/* For table */
table {
    border: 2px black solid;
    border-collapse: collapse;
    background: #eae8f9;
}

table > thead > tr > th {
    border: 1px black solid;
}

table > tbody > tr > td {
    border: 1px black solid;
}

table > tfoot {
    font-size: .6rem;
}

/* For horizon line, i.e. '---' in markdown */
hr {
    border: 1px darkgray inset;
}

/* For definition */
dl {
    margin-left: 5px;
    border-left: orange 5px solid;
    border-top: orange 2px solid;
    padding-left: 5px;
}

dl > dt {
    font-style: oblique;
    font-weight: bold;
}

dl > dd {
    font-weight: 100;
}

/* For article content part */
article[class="post"] {
    margin-bottom: 2.5rem;
}

span[class="sep"] {
    font-size: 80%;
    color: #707070;
}

/* For article category */
a[class="post-category"]:before {
    content: "\f02d";
    font-family: FontAwesome;
    padding-left: .3rem;
    padding-right: .3rem;
}

a[class="post-category"] {
    display: inline-block;
    font-size: 80%;
    border-radius: 4px;
    background-color: #d2bca9;
    color: #934034;
    border: #936b64 solid 1px;
    padding-right: .3rem;
}

/* For article tags */
a[class="post-tag"]:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-left: .3rem;
    padding-right: .3rem;
}

a[class="post-tag"] {
    display: inline-block;
    font-size: 80%;
    border-radius: 4px;
    background-color: #c0c1ee;
    color: #432687;
    border: #6b5587 solid 1px;
    margin-right: 8px;
    padding-right: .3rem;
}

/* For <small> tag */
small {
    font-size: .65rem;
    color: #a68f96;
    font-weight: normal;
}

/* For Read more link */
div[class="post-more"] {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div[class="post-more"] > a:before {
    content: "\f055";
    font-family: FontAwesome;
    font-size: 90%;
    margin-right: 4px;
}

/* For page below navigation */
div[class="postnavigation"] {
    margin: 0 auto;
    text-align: center;
}

/* For site visit stats info */
div[class="site-stats"] {
    font-size: 80%;
    text-align: right;
    color: gray;
}

/* For date and comments display on main index */
a[class="post-comment"] {
    font-size: .8rem;
    color: #47a526;
}

a[class="post-comment"]:before {
    content: "\f086";
    font-family: FontAwesome;
    font-size: .8rem;
    margin-right: 4px;
}

span[class="post-date"] {
    font-size: .8rem;
    color: #707070;
}

span[class="post-date"]:before {
    content: "\f073";
    font-family: FontAwesome;
    font-size: .8rem;
    margin-right: 4px;
}
