body {
    font-family: "Avenir Next", Helvetica, arial, "Microsoft YaHei", 宋体, sans-serif;
    font-size: 20px;
    margin: 0;
    background-image: url("/assets/images/main_background.jpg");
    background-repeat: round;
}

nav {
    font-size: 1.2em;
    /*background-image: linear-gradient(to bottom right, #5766a7, white);*/
}

div[class="container"] {
    margin: auto;
    width: 70%;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 0 .5em 0 #737660;
}

nav > ul, footer > ul {
    margin: auto;
    width: 70%;
    padding: 20px;
    list-style: none;
    font-weight: bold;
}

nav > ul > li, footer > ul > li {
    display: inline;
    margin-right: 20px;
}

nav > ul > li > a {
    color: #103355;
}

a {
    text-decoration: none;
    color: #c7338e;
}

a:hover {
    text-decoration: underline;
}

h1 > a {
    color: #103355;
    font-family: 'Bree Serif', serif, "Avenir Next", Helvetica, arial, "Microsoft YaHei", 宋体, sans-serif;
}

h1 {
    font-size: 2.6em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

h2 {
    font-size: 2.25em;
    margin-top: 0.55em;
    margin-bottom: 0.55em;
}

h3 {
    font-size: 1.9em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

h4 {
    font-size: 1.55em;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

h5 {
    font-size: 1.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h6 {
    font-size: 1.1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

p {
    line-height: 1.8em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts > li {
    list-style: none;
}

/* For 脚注 */
div[class="footnotes"] {
    font-size: .8em;
}

/* For blockquote */
blockquote {
    margin-left: 5px;
    border-left: #29c79a 5px solid;
    padding-left: 5px;
}

/* For table */
table {
    border: 2px black solid;
    border-collapse: collapse;
    background: #eae8f9;
}

table > thead > tr > th {
    border: 1px black solid;
}

table > tbody > tr > td {
    border: 1px black solid;
}

table > tfoot {
    font-size: .6em;
}

/* For horizon line, i.e. '---' in markdown */
hr {
    border: 1px darkgray inset;
}

/* For definition */
dl {
    margin-left: 5px;
    border-left: orange 5px solid;
    border-top: orange 2px solid;
    padding-left: 5px;
}

dl > dt {
    font-style: oblique;
    font-weight: bold;
}

dl > dd {
    font-weight: 100;
}